*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
}

.header .adress{
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-left: 1.5em;
    color : rgba(245, 245, 245, 0.874);
}

.header .adress .contact{
    margin-top: 1em;
}

.header .adress h3:hover{
    color: rgb(75, 107, 175);
}

#titreCv{    
    width: 10em;
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    text-decoration: underline;
    color : rgba(245, 245, 245, 0.874);   
}
#titreCv:hover{
    color: rgb(75, 107, 175);
}
div.photo{
    width: 9%;
}

#mail{
    color: rgb(75, 107, 175);
    text-decoration: none;
}

body {
    background-color: white;  
    background-image : url(../images/hitech.jpg);    
    
}

.corpsDuCv section {    
    background: rgba(245, 245, 245, 0.874);
    border-radius: 1em; 
    width: 31%;
    transition-duration: 0.25s;
}

.corpsDuCv {
    display: flex;
    justify-content: space-around;
    font-size: 0.75em;
    background-image : url(../images/cobol2.png);  
    background-repeat: no-repeat; 
    background-position: center 0.8em;
    background-size: 10%;
}

.corpsDuCv .icons{
    text-align: right;
}

#competences{
    font-size: 1.2em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    height: 49em;
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    background-color: rgba(26, 37, 61, 0.6);
    color : white;
}

#competences article{
    margin-top: 1.5em;
}

#competences ul li{
    padding-top: 2.6em;
}

#competences ul{
    list-style: none;
    width: fit-content;
}

#competences h2{
    padding-bottom: 1em;
    text-decoration: underline;
}

#competences:hover {
    border-radius: 3% 20% 3% 20%;
    background: rgba(245, 245, 245, 0.874);
    color:black;
}

#formations{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    text-align: center;
    width: 31%;
    height: 25em;
    font-size: 1.2em;
    align-items:center;
    border-radius: 35% 3%;
    background-color: rgba(26, 37, 61, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    color : white;
}

#formations #Langue1{
    margin-left: -2em;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}
#formations #Langue11{
    margin-left: 5em;
    margin-top: -2.5em;
    display: flex;
    flex-direction: row;
}
#formations #Langue2{
    margin-left: -2em;
    margin-top: -2.5em;
    display: flex;
    flex-direction: row;
}

#formations #Langue21{
    margin-left: 5em;
    margin-top: -2.5em;
    display: flex;
    flex-direction: row;
}

#formations h3{
    margin-top: 0.25em;
}

#formations h5{
    padding-bottom: 1em;
}

#formations h2{
    margin-bottom: -0.44em;
    padding-bottom: 3em;
    text-decoration: underline;
}

#formations:hover {
    background: rgba(245, 245, 245, 0.874);
    color:black;
}

#experiences{
    padding-top: 2em;
    display: flex;
    flex-direction:column;
    font-size: 1.2em;
    text-align: center;
    height: 48em;
    font-size: 1.2em;
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    background-color: rgba(26, 37, 61, 0.6);
    color : white;
}

#experiences h3{
    margin-top: 1em;
}

#experiences h4{
    margin-bottom: 3m;
}

#experiences h5{
    margin-bottom: 5em;
}

#experiences h2{
    margin-top: -0.60em;
    padding-bottom: 2em;
    text-decoration: underline;
}

#experiences:hover {
    border-radius: 3% 20% 3% 20%;
    background: rgba(245, 245, 245, 0.874);
    color : black;
}

.footer #option{
    width: 31%;
    height: 10em;
    font-size: 1.8em;   
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    background-color: rgba(26, 37, 61, 0.6);
    color : white;
    margin:auto;
    margin-top: -22.5em;
    margin-bottom: -6.5em;
    border-radius: 1em; 
}

.footer #option:hover{
    background: rgba(245, 245, 245, 0.874);
    color : black;
}

.footer #option h2{
    text-align: center;
}

.footer #option #Langue2{
    margin-left: 6em;
    margin-top: 1em;
}

.footer #option #Langue21{
    margin-left: 10em;
    margin-bottom: 1em;
    margin-top: -2em;
}

.footer #option #Langue1{
    margin-left: 6em;
    margin-top: 1em;
}

.footer #option #Langue11{
    margin-left: 10em;
    margin-top: -2.5em;
}

.footer .hobby:hover {
    background: rgba(245, 245, 245, 0.874);
    color : black;
}

.footer .hobby h2 {
    margin-top: 1em;
    margin-bottom: 2em;
    text-decoration: underline;
}

.footer .hobby{
    width: 31%;
    height: 10em;
    font-size: 1.8em;    
    flex-direction: column;
    align-items: center;
    border-radius: 1em; 
    margin: auto;
    margin-top: 8em;
    text-align: center;
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    background-color: rgba(26, 37, 61, 0.6);
    color : white;
}

.footer .hobby .activites{
    display: flex;
    justify-content: space-around;
}
.footer{
    font-size: 0.50em;
    
    display: flex;
    flex-direction: column;
}