*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}

.header .adress{
    text-align: center;
    margin-top: 1em;
}

.header .adress article{
    margin-top: 1em;
}

.header .adress h3:hover{
    color: rgb(75, 107, 175);
}

#titreCv{    
    width: 10em;
    font-size: 3em;
    padding-top: 1em;
    text-decoration: underline;
    color: rgb(75, 107, 175);
}

div.photo{
    width: 9%;
}

#mail{
    color: rgb(75, 107, 175);
    text-decoration: none;
}

body {
    background: rgba(255, 255, 255, 0.915);
}

.corpsDuCv section {    
    background: rgba(245, 245, 245, 0.874);
    border-radius: 1em; 
    width: 31%;
    transition-duration: 0.25s;
}

.corpsDuCv {
    display: flex;
    justify-content: space-around;
    padding-top: 1.0em;
}

#competences{    
    border: 2mm ridge rgba(179, 179, 179, 0.6);
    overflow-y: scroll;
    scrollbar-color: rgb(202, 196, 255) rgb(75, 107, 175);
    scrollbar-width: thin;
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#competences article{
    margin-top: 2em;
}

#formations{
    border: 2mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 40% 3%;
    padding-top: 1em;
    text-align: center;
}

#formations h3{
    margin-top: 0.45em;
}

#formations h5{
    padding-bottom: 1.5em;
}


#experiences{
    border: 2mm ridge rgba(179, 179, 179, 0.6);
    overflow-y: scroll;
    scrollbar-color: rgb(202, 196, 255) rgb(75, 107, 175);
    scrollbar-width: thin;
    padding-top: 1.0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#experiences h3{
    margin-top: 0.25em;
}

#experiences h5{
    margin-bottom: 2em;
    padding-top: -2em;
}

.sectionX:hover {
    border-radius: 40% 3% 3% 3%;
    background-color: rgb(235, 235, 235);
}

.sectionX {
        width: 30em;
        height: 25em;
}

.sectionX h2{
    padding-bottom: 1em;
    text-decoration: underline;
}

.sectionX ul li{
    padding-top: 0.75em;
}

.sectionX ul{
    list-style: none;
    width: fit-content;
}

.footer #hobby:hover {
    background-color: rgb(235, 235, 235);
}

.footer #hobby h2 {
    padding-top: 0.5em;
    margin-bottom: 1em;
    text-decoration: underline;
}

.footer #hobby h3 {
    padding-bottom: 0.30em;
} 

.footer #hobby{
    border: 2mm ridge rgba(75, 107, 175, 0.6);
    background: rgba(245, 245, 245, 0.874);
    width: 50%;margin: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 1em; 
    margin-top: 1em;
    text-align: center;
}

.footer #hobby article{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}