*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;

}

.header .adress{
    text-align: center;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
}

.header .adress .contact{
    margin-top: 1em;
}

.header .adress h3:hover{
    color: rgb(75, 107, 175);
}

#titreCv{    
    width: 10em;
    font-size: 3em;
    margin-top: 0.5em;
    text-decoration: underline;
    color : rgba(62, 62, 62, 0.6);    
}

div.photo{
    width: 9%;
}

#mail{
    color: rgb(75, 107, 175);
    text-decoration: none;
}

body {
    background-color: white;   
    
}

.corpsDuCv section {    
    background: rgba(245, 245, 245, 0.874);
    border-radius: 1em; 
    width: 31%;
    transition-duration: 0.25s;
}

.corpsDuCv {
    background-image : url(/images/hitech02.jpg); 
    display: flex;
    justify-content: space-around;
    font-size: 0.75em;
}

.corpsDuCv .icons{
    text-align: right;
}

#competences{
    border: 1mm ridge rgba(179, 179, 179, 0.6);
    font-size: 1.4em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    height: 55em;
}

#competences article{
    margin-top: 2em;
}

#competences ul li{
    padding-top: 3em;
}

#competences ul{
    list-style: none;
    width: fit-content;
}

#competences h2{
    padding-bottom: 2em;
    text-decoration: underline;
}

#competences:hover {
    border-radius: 3% 30% 3% 30%;
    background-color: rgba(75, 107, 175, 0.6);
}

#formations{
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    border-radius: 40% 3%;
    padding-top: 1em;
    text-align: center;
    width: 31%;
    height: 40em;
    font-size: 1.4em;
    align-items:center;
    display: flex;
    flex-direction: column;
}

#formations h3{
    margin-top: 0.5em;
}

#formations h5{
    padding-bottom: 1em;
}

#formations h2{
    padding-bottom: 4em;
    text-decoration: underline;
}

#formations:hover {
    background-color: rgba(75, 107, 175, 0.6);
    
}

#experiences{
    border: 1mm ridge rgba(179, 179, 179, 0.6);
    padding-top: 2em;
    display: flex;
    flex-direction:column;
    font-size: 1.2em;
    text-align: center;
    height: 54em;
    font-size: 1.4em;
}

#experiences h3{
    margin-top: 1em;
}

#experiences h4{
    margin-bottom: 3m;
}

#experiences h5{
    margin-bottom: 5em;
}

#experiences h2{
    padding-bottom: 3em;
    text-decoration: underline;
}

#experiences:hover {
    border-radius: 3% 30% 3% 30%;
    background-color: rgba(75, 107, 175, 0.6);
    /* background-color: rgb(235, 235, 235); */
}

.footer .hobby:hover {
    background-color: rgba(75, 107, 175, 0.6);
}

.footer .hobby h2 {
    margin-top: 2em;
    margin-bottom: 3em;
    text-decoration: underline;
}

.footer .hobby{
    border: 1mm ridge rgba(179, 179, 179, 0.6);
    border: 1mm ridge rgba(75, 107, 175, 0.6);
    background: rgba(245, 245, 245, 0.874);
    width: 31%;
    height: 13em;
    font-size: 1.4em;
    margin: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 1em; 
    margin-top: 4.55em;
    text-align: center;
}

.footer .hobby .activites{
    display: flex;
    justify-content: space-around;
}
.footer{
    margin-top: -25em;
    font-size: 0.75em;
}