*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
}

#adresse{
    width: 91%;
}

#titreCv{    
    width: 10em;
    font-size: 3em;
    padding-top: 1em;
}

div.photo{
    width: 9%;
}

#mail{
    color: black;
    text-decoration: none;
}

body {
    background: rgba(255, 255, 255, 0.915);
}

.corpsDuCv section {    
    background: rgba(245, 245, 245, 0.874);
    border-radius: 1em; /* les coins seront tous arrondis */
    width: 30%;
    transition-duration: 0.25s;
}

.corpsDuCv {
    display: flex;
    justify-content: space-around;
    padding-top: 1.0em;
}

article{
    padding-left: 0;
}

#section1{
    overflow-y: scroll;
    scrollbar-color: rgb(202, 196, 255) rgb(236, 235, 235);
    scrollbar-width: thin;
    padding-top: 1.0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#section1 h3{
    margin-top: 0.25em;
}

#section1 h5{
    margin-bottom: 2em;
    padding-top: -2em;
}

.sectionX h2{
    padding-bottom: 1em;
}
    
#section2{    
    overflow-y: scroll;
    scrollbar-color: rgb(202, 196, 255) rgb(236, 235, 235);
    scrollbar-width: thin;
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#section2 article{
    margin-top: 2em;
}

.sectionX ul li{
    padding-top: 0.45em;
}

ul{
    list-style: none;
    width: fit-content;
}

#section3{
        padding-top: 1em;
        text-align: center;

}

#section3 h3{
    margin-top: 0.45em;
}

.sectionX:hover {
    background-color: rgb(235, 235, 235);
}

.sectionX {
        width: 30em;
        height: 25em;
}

#section4:hover {
    background-color: rgb(235, 235, 235);
}

#section4 h2 {
    padding-top: 0.5em;
    margin-bottom: 1em;
}

#section4 h3 {
    padding-bottom: 0.5em;
} 
#section4{
    border: 2mm ridge rgba(179, 179, 179, 0.6);
    width: 30%;margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em; 
    margin-top: 1em;
}

#section4 article{
 text-align: center;
}