*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
}

#adresse{
    margin-left:1em;
    margin-top: 0.25em;
    width: 91%;
}

#titreCv{    
    width: 10em;
    font-size: 3em;
    padding-top: 1em;

}

div.photo{
    width: 9%;
}

#mail{
    color: black;
    text-decoration: none;
}

body {
    background: rgba(255, 255, 255, 0.915);
}

.corpsDuCv section {    
    background: rgba(245, 245, 245, 0.874);
    border-radius: 1em; /* les coins seront tous arrondis */
    width: 30%;
    transition-duration: 0.25s;
}

.corpsDuCv {
    display: flex;
    justify-content: space-around;
    padding-top: 1.0em;
}

article{
    padding-left: 0;
}

#section1{
    padding-top: 1.0em;
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;


}
#section1 h3{
    margin-top: -4em;
}

.sect1 h2{
    padding-bottom: 1em;
}

.sect2 h2{
    padding-bottom: 1em;
}

.sect3 h2{
    padding-bottom: 1em;
    text-align: center;
}
    
#section2{
    
    overflow-y: scroll;
    scrollbar-color: rgb(225, 224, 224) rgb(236, 235, 235);
    scrollbar-width: thin;
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.sect2 ul li{
    padding-bottom: 1em;
}
#section3{
        padding-top: 1em;
        padding-left: 1em;
        text-align: center;

}
#section3 h5{
    margin-bottom: 1em;
}
.sect1:hover {
    background-color: rgb(235, 235, 235);
}

.sect2:hover {
    background-color: rgb(235, 235, 235);
}

.sect3:hover {
    background-color: rgb(235, 235, 235);
}
.sect1 {
        width: 30em;
        height: 25em;
}
.sect2 {
    width: 30em;
    height: 25em;
}

.sect3 {
    width: 30em;
    height: 25em;
}

ul{
    list-style: none;
    width: fit-content;
}

