*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header section h3:hover{
    color: rgb(75, 107, 175);
}

.header section{
    text-align: center;
}

.header.photo {
    border-radius: 10px 100px / 120px;
    
}

.header section article{
    margin-top: 1em;
}

#titreCv{    
    width: 10em;
    font-size: 3em;
    padding-top: 1em;
    text-decoration: underline;
    color: rgb(75, 107, 175);

}

div.photo{
    width: 9%;
}

#mail{
    color: rgb(75, 107, 175);
    text-decoration: none;
}

body {
    background: rgba(255, 255, 255, 0.915);
}

.corpsDuCv section {    
    background: rgba(245, 245, 245, 0.874);
    border-radius: 1em; 
    width: 31%;
    transition-duration: 0.25s;
}

.corpsDuCv {
    display: flex;
    justify-content: space-around;
    padding-top: 1.0em;
}

#section1{
    border: 2mm ridge rgba(179, 179, 179, 0.6);
    overflow-y: scroll;
    scrollbar-color: rgb(202, 196, 255) rgb(75, 107, 175);
    scrollbar-width: thin;
    padding-top: 1.0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#section1 h3{
    margin-top: 0.25em;
}

#section1 h5{
    margin-bottom: 2em;
    padding-top: -2em;
}

.sectionX h2{
    padding-bottom: 1em;
    text-decoration: underline;
}
    
#section2{    
    border: 2mm ridge rgba(179, 179, 179, 0.6);
    overflow-y: scroll;
    scrollbar-color: rgb(202, 196, 255) rgb(75, 107, 175);
    scrollbar-width: thin;
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#section2 article{
    margin-top: 2em;
}

.sectionX ul li{
    padding-top: 0.75em;
}

ul{
    list-style: none;
    width: fit-content;
}

#section3{
    border: 2mm ridge rgba(75, 107, 175, 0.6);

    border-radius: 40% 3%;
    padding-top: 1em;
    text-align: center;
}

#section3 h3{
    margin-top: 0.45em;
}

#section3 h5{
    padding-bottom: 1.5em;
}

.sectionX:hover {
    border-radius: 40% 00% 0% 3%;
    background-color: rgb(235, 235, 235);
}

.sectionX {
        width: 30em;
        height: 25em;
}

#section4:hover {
    background-color: rgb(235, 235, 235);
    
}

#section4 h2 {
    padding-top: 0.5em;
    margin-bottom: 1em;
    text-decoration: underline;
}

#section4 h3 {
    padding-bottom: 0.30em;
} 
#section4{
    border: 2mm ridge rgba(75, 107, 175, 0.6);
    background: rgba(245, 245, 245, 0.874);
    width: 50%;margin: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 1em; 
    margin-top: 1em;
    text-align: center;
}

#section4 article{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}